# Backend Railway (por defecto si no se define nada)
VITE_API_URL=https://proyectoequipo32026-production-f1f5.up.railway.app/api/v1
VITE_GOOGLE_CLIENT_ID= 1072360825042-hc2bh6e5fcomfag97b0ho4e701p2mnuk.apps.googleusercontent.com
# Solo para desarrollo local sin backend: descomentar la línea de abajo
# VITE_USE_MOCK=true
